# Environnements virtuels
venv/
venv_tf/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# Fichiers temporaires / installation
*.deb

# Modèles lourds (optionnel : décommenter si trop grands)
# pretrained_weights/
# *.keras
